.list-item {
  &__content {
    display: flex;
    align-items: center;

    padding-right: 20px;

    transition: all 0.3s;
    &:hover {
      background-color: white;
      cursor: pointer;
    }
  }

  &__avatar {
    width: 100%;
    height: 100%;

    border-radius: 50%;

    &-wrapper {
      width: 50px;
      height: 50px;

      padding: 5px;

      margin: 0 10px;
    }

    &-placeholder {
      opacity: 0.5;

      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;
      width: 100%;

      border: 1px solid black;
      border-radius: 50%;

      font-size: 12px;
    }
  }

  &__name-text {
    font-weight: bold;
  }

  &__contact {
    margin-top: 2px;
    &-email {
      font-size: 14px;
      opacity: 0.5;
    }
  }

  &__checkbox {
    &-wrapper {
      margin-left: auto;
    }
  }
}
