.search {
  display: flex;
  align-items: center;

  padding: 10px;

  background-color: white;

  border-bottom: 1px solid rgba(black, 0.1);

  &__icon {
    height: 100%;

    margin-right: 20px;

    &-wrapper {
      height: 20px;
    }
  }

  &__input {
    width: 100%;
    height: 20px;

    border: transparent;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;

    padding-left: 10px;

    transition: all 0.5s;
    &:hover,
    &:focus {
      border: 1.5px solid #5ab1c2;
      outline: none;
    }
  }
}
