.contact-list {
  &__page-numbers {
    display: flex;
    flex-wrap: wrap;

    list-style: none;

    padding-top: 10px;
    border-top: 1px solid rgba(black, 0.3);

    &-item {
      width: 5%;
      text-align: center;

      padding: 5px 0;

      transition: all 0.3s;
      &:hover {
        cursor: pointer;
        color: #5ab1c2;
      }

      &--active {
        color: #5ab1c2;
      }
    }
  }
}
